<section class="card">
    <header>Posted on {{format_date createdAt}}</header>
    <div class="card-body">
      <h2 id="current-posts-links">
        <a href="/blogpost/{{id}}">{{title}}</a>
      </h2>
      <div class="row mb-2">
        <div class="col-md-4">
          <a href="/edit/{{id}}" id="editButton"><button class="btn btn-sm btn-danger">EDIT</button></a>
        </div>
      </div>
    </div>
</section>


