<div class="text-center">
  <h2 class="blog-post-title">{{title}}</h2>
  <p class="blog-post-user">Posted by {{user.name}}
  {{!-- on {{format_date date_created}} --}}
  </p>
  <p>{{content}}</p>
</div>
<div class="flex-column justify-center">
  <h3>Comments</h3>
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</div>